<ion-view view-title="Tasks">
    <ion-nav-bar class="heading">
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>
  <ion-content class="padding" style="background-color: #ffcccc">
      
      <div class="card">
          <div class="item item-divider" style="background-color: #ff8080">
              <ion-checkbox style="background-color: #ff8080" class="checkbox-energized" ng-model="addatask"><h3 class="fontcolor">Add a Task</h3></ion-checkbox>
          </div>
          <div class="item item-text-wrap" ng-show="addatask">
            <div class="list">
              <label class="item item-input item-floating-label">
                <span class="input-label" style="color: #ff8080">Task Name</span>
                <input type="text" placeholder="Task Name" ng-model="newTask.newTaskName">
              </label>
              <label class="item item-input item-floating-label">
                <span class="input-label" style="color: #ff8080">Task Text</span>
                <input type="text" placeholder="Task Text" ng-model="newTask.newTaskText">
              </label>
            </div>
            <button class="fontcolor button button-block" style="background-color: #ff8080" ng-click="addTask()">
              Add Task
            </button>  
          </div>
        </div>
      
  <div class="item item-divider" style="background-color: #ff8080">
    <h2 class="fontcolor">Tasks</h2>
  </div>

      <div class="card" style="background-color: #ff8080">
          <ion-list>
        <ion-item class="item-remove-animate" ng-repeat="task in tasks">
            <div>
                 
                <h2 style="color: #ff6666"><i class="icon ion-android-list"></i> {{task.taskName}}</h2>
                <h3 style="font-style: italic; padding-left:1em; color: #ff8080">{{task.taskText}}</h3>
                
                <ion-option-button class="button" style="background-color: #ff8080" ng-click="deleteTask(task)"><h2 style="color: white"><i class="icon ion-ios-close-outline"></i></h2></ion-option-button>
            </div>

        </ion-item>
      </ion-list>
        </div>
      
      
  </ion-content>
</ion-view>
